:root {
  font-style: normal;
  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #f0f0f0;
}

* {
  -ms-overflow-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
